<div
  class="blank-layout-container justify-content-center align-items-center bg-light"
>
  <div
    class="position-relative row w-100 h-100 bg-gredient justify-content-center"
  >
    <div class="col-lg-2 d-flex align-items-center">
      <mat-card class="cardWithShadow boxed-auth">
        <mat-card-content class="p-32">

          <div class="logo-container">
            <img src="assets/images/banner.png" alt="Banner" class="banner-image">
          </div>

          <form class="m-t-30" [formGroup]="loginForm" (submit)="onSubmit()">

            <mat-label class="f-s-14 f-w-600 m-b-12 d-block">Usuario</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput formControlName="username" [disabled]="isLoading" />
            </mat-form-field>
      
            <mat-label class="f-s-14 f-w-600 m-b-12 d-block">Senha</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput type="password" formControlName="password" [disabled]="isLoading" />
            </mat-form-field>

            <button type="submit" mat-flat-button color="primary" class="w-100" [disabled]="isLoading">
              <span *ngIf="!isLoading">Acessar</span>
              <mat-spinner *ngIf="isLoading" diameter="20"></mat-spinner>
            </button>
            
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
