<mat-sidenav-content class="example-sidenav">
  <mat-toolbar color="primary">

    <!-- Botões principais diretamente na toolbar -->
    <ng-container *ngFor="let item of menuData" class="parent">
      <button class="menu-button full-width" 
        mat-button
        [ngStyle]="getItemStyle(item)"
        [matMenuTriggerFor]="item.children ? getSubMenu(item) : null"
        (click)="item.route ? navigate(item.route) : null" >
        <div class="button-content">
          <mat-icon>{{ item.icon }}</mat-icon>
          <span>{{ item.label }}</span>
        </div>
      </button>
    </ng-container>

    <!-- Menus dinâmicos para todos os níveis -->
    <ng-container *ngFor="let item of flattenMenuData(menuData); let i = index">
      <mat-menu #dynamicMenu="matMenu" *ngIf="item.children">
        <div class="submenu-container">
          <ng-container *ngFor="let subItem of item.children">
            <button
              mat-menu-item
              [ngStyle]="getItemStyle(subItem)"
              [matMenuTriggerFor]="subItem.children ? getSubMenu(subItem) : null"
              (click)="subItem.route ? navigate(subItem.route) : null">
              <div class="button-content">
                <span>{{ subItem.label }}</span>
               
              </div>
            </button>
          </ng-container>
        </div>
      </mat-menu>
    </ng-container>
  </mat-toolbar>

  <ng-content></ng-content>
  
</mat-sidenav-content>