.sidebar {
  width: 200px;
  background-color: #f4f4f4;
  overflow-y: auto;
  transition: width 0.3s;
  &.open {
    width: 300px;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    .menu-item {
      display: flex;
      align-items: center;
      padding: 10px;
      cursor: pointer;
      &:hover {
        background-color: #e0e0e0;
      }
      mat-icon {
        margin-right: 10px;
      }
    }
    .submenu {
      padding-left: 20px;
      li {
        .menu-item {
          font-size: 0.9em;
        }
      }
    }
  }
}

.example-container {
  height: 500px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.example-sidenav {
   user-select: none;
}

.full-width {
  width: 100%;
  justify-content: flex-start;
  padding: 22px !important;
  margin: 2px 0;
}

.menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
}
.menu-button.rotated {
  transform: rotate(180deg);
}
.submenu {
  overflow-y: hidden;
  transition: transform 300ms ease;
  transform: scaleY(0);
  transform-origin: top;
  padding-left: 30px;
}
.submenu.expanded {
  transform: scaleY(1);
}
.button-content {
  display: flex;
  align-items: center;
  gap: 8px;
}

mat-toolbar {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.mat-mdc-menu-content{
  width: 350px !important;
}

.mat-mdc-menu-item {
  width: 300px !important;
}

.mat-mdc-menu-item:not([disabled]):hover {
  width: 300px  !important;
}