

html .blue_theme {
  --mat-sys-primary: rgb(5, 68, 136);
  --mat-sys-primary-fixed-dim: rgba(0, 123, 255, 0.15);
  --mat-sys-secondary: rgb(108, 117, 125);
  --mat-sys-secondary-fixed-dim: rgba(108, 117, 125, 0.15);
  --mat-sys-error-fixed-dim: rgba(220, 53, 69, 0.15);
}
